* {
  color-scheme: dark;
}

body {
    width: fit-content;
}

@keyframes wobble {
  50% {
    transform: translate(3px, 3px);
  }
}

.solSyst {
  position: absolute;
  height: fit-content;
  width: fit-content;
  background-image: radial-gradient(
    circle at 13%,
    transparent 18%,
    #fff,
    transparent 18.2%,
    transparent 22%,
    #fff,
    transparent 22.2%,
    transparent 28.5%,
    #fff,
    transparent  28.7%,
    transparent 35%,
    #fff,
    transparent 35.2%,
    transparent  50%,
    #fff,
    transparent  50.2%,
    transparent  67.5%,
    #fff,
    transparent  67.7%,
    transparent  83%,
    #fff,
    transparent  83.2%,
    transparent  93%,
    #fff,
    transparent  93.2%
  );
}

.solSyst {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun {
  height: 400px;
  padding: 10px 20px;
  border-radius: 100%;
  filter: drop-shadow(0 0 10vw rgb(255, 166, 0));
  animation-duration: 4s;
}

.obj {
  scale: 100%;
  transition: all ease-in-out 0.2s;
  animation-name: wobble;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.obj:hover {
  scale: 110%;
}
.sun:hover {
  scale: 102%;
}

.merc {
  height: 50px;
  animation-duration: 1s;
}
.merc:hover {
  scale: 200%;
}

.ven {
  height: 75px;
  animation-duration: 1.1s;
}

.ear {
  height: 100px;
  animation-duration: 1.7s;
}

.mar {
  height: 85px;
  animation-duration: 1.6s;
}

.jup {
  height: 200px;
  margin-left: 50px;
  animation-duration: 3s;
}

.sat {
  height: 300px;
  animation-duration: 2.5s;
}

.ura {
  height: 150px;
  animation-duration: 1.9s;
}

.nep {
  height: 150px;
  animation-duration: 2s;
}


/* Media Queries */

@media screen and (max-width: 900px) {
  .sun {
    height: 200px;
  }
  
  .merc {
    height: 25px;
  }
  
  .ven {
    height: 37.5px;
  }
  
  .ear {
    height: 50px;
  }
  
  .mar {
    height: 42.5px;
  }
  
  .jup {
    height: 100px;
    margin-left: 0px;
  }
  
  .sat {
    height: 150px;
  }
  
  .ura {
    height: 75px;
  }
  
  .nep {
    height: 75px;
  }
  
  .solSyst {
    background-image: radial-gradient(
      circle at 50% 13%,
      transparent 19%,
      #fff,
      transparent 19.2%,
      transparent 23%,
      #fff,
      transparent 23.2%,
      transparent 28.5%,
      #fff,
      transparent  28.7%,
      transparent 36%,
      #fff,
      transparent 36.2%,
      transparent  47.5%,
      #fff,
      transparent  47.7%,
      transparent  65.5%,
      #fff,
      transparent  65.7%,
      transparent  83%,
      #fff,
      transparent  83.2%,
      transparent  93%,
      #fff,
      transparent  93.2%
    );
  }
    
  .solSyst {
    display: grid;
    justify-items: center;
    align-items: center;
  }

}

