:root {
  --blue: #2c29ff;
  --purpwhite: #ffe5ff;
  /* --blueViolet: #8a2ce2; */
  --blueViolet: #6650ed;
  --ltblack: #1c1b22;
  --defHeight: 400px;
}

.solar {
  width: 95%;
}

.content {
  height: max-content;
  width: min-content;
  /* grid-template-columns: 30rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.post {
  text-align: center;
  line-height: 50px;
}

 .post2 {
   text-align: center;
   line-height: 50px;
   border-bottom: 1px solid #fff;
   margin-bottom: 1rem;
 }

.container {
  border: 10px solid var(--blueViolet);
  height: var(--defHeight);
  width: min-content;
  overflow: hidden;
  border-radius: 1rem;
}
.container:hover,
.container1:hover,
.container2:hover {
  transition: all ease-in-out 0.2s;
  /* box-shadow: 0px 0px 20px rgba(137, 43, 226, 0.9); */
  box-shadow: 0px 0px 20px rgba(255, 228, 255, 0.9);
  scale: 104%;
}

.container1 {
  border: 10px solid var(--blueViolet);
  height: var(--defHeight);
  width: var(--defHeight);
  overflow: hidden;
  background-image: url(Images/Anime_Tree.png);
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  overflow: hidden;
}

.container2 {
  border: 10px solid var(--blueViolet);
  width: var(--defHeight);
  height: min-content;
  border-radius: 1rem;
  overflow: hidden;
}

.image {
  height: var(--defHeight);
  border-radius: 0.5rem;
}

.image2 {
  width: var(--defHeight);
  border-radius: 0.5rem;
}

.rvvp {
  display: flex;
  gap: 1rem;
  text-align: center;
  border: 2px solid var(--purpwhite);
  border-radius: 1rem;
  padding: 50px 30px;
}

.rvvp1 {
  display: grid;
  gap: 2rem;
  text-align: center;
  border: 2px solid var(--purpwhite);
  border-radius: 1rem;
  padding: 50px;
  padding-top: 30px;
}

.kit {
  display: grid;
  gap: 1rem;
  grid-template-columns: 450px 450px;
  text-align: center;
  border: 2px solid var(--purpwhite);
  border-radius: 1rem;
  padding: 50px;
  line-height: 50px;
}

.frame {
  width: inherit;
  height: 430px;
}

.field {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 45%,
    #fff 50%,
    rgba(0, 0, 0, 0) 50.1%
  );
}

.field_name {
  color: var(--purpwhite);
  background: var(--ltblack);
  display: inline;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  body {
    font-size: 5em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100vw;
  }

  :root {
    --defHeight: 200px;
  }

  .content {
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 250px; */
  }

  .field {
    width: 80%;
  }

  .container,
  .container1,
  .container2 {
    border: 5px solid var(--blueViolet);
  }

  .rvvp {
    display: grid;
    padding: 50px;
  }
  .rvvp1 {
    padding: 20px;
    scale: 80%;
  }

  .livrm {
    scale: 90%;
  }

  .kit {
    grid-template-columns: 250px;
    padding: 20px;
    font-size: 1rem;
  }

  .solar {
    width: 100%;
  }

  .post2 {
    text-align: center;
    line-height: 50px;
    width: 80%;
  }

  .frame {
    height: 800px;
    width: 260px;
  }
}

