.content {
  padding-top: 1em;
  /* padding-bottom: 2em; */
  height: max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

h1 {
  margin-top: -1rem;
  margin-bottom: -2rem;
  font-size: 3em;
}


.card_container {
  width: max-content;
  display: grid;
  gap: 5rem;
  line-height: 30px;
  padding: 4em 3em;
  border-radius: 5rem;
  place-content: center;
}

.card {
  max-width: 50vw;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  > img {
    height: 5em;
  }
}

/* Media Querie */

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2em;
  }

  .card_container {
    border-radius: 2rem;
    padding: 3rem 2rem;
  }

  .conteet {
    width: 100%;
  }

  .card {
    padding: .5em;
    font-size: .9em;
    grid-auto-flow: row;
    gap: 1rem;
  }
  .card > img {
    height: 5em;
  }

}
