:root {
  --blue: #2c29ff;
  --purpwhite: #ffe5ff;
  /* --violet: #8a2ce2; */
  --blueViolet: #6650ed;
  /* --blueViolet: #718bfc; */
  --ltblack: #1c1b22;
  --max-width: 20000px;
  --min-width: fit-content;
}

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


html {
  scroll-behavior: smooth;
  background-color: #000000;
}

* {
  font-family: "Roboto",sans-serif;
  font-size: 1.06em;
  /* font-size: 20px; */
  margin: auto;
  transition: all ease-in-out 0.1s;
  accent-color: var(--blueViolet);
  color-scheme: dark;
}

body {
  padding-top: 7em;
  padding-bottom: 5em;
  font-size: inherit;
  background-image: radial-gradient(
    circle,
    rgba(102, 80, 237, 0.3) 1%,
    var(--ltblack) 80%
  );
  max-width: var(--max-width);
  min-width: var(--min-width);
}

body::selection {
  background: var(--purpwhite);
  color: var(--ltblack);
}


a {
  color: inherit;
  text-decoration: none;
  transition: none;
}

.navbar {
  background-color: rgba(28, 27, 34, 0.5);
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  box-shadow: 1px 2px 5px rgba(102, 80, 237, 0.5);
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(1rem);
  max-width: var(--max-width);
}

.webname {
  font-size: 50px;
  font-style: italic;
  font-family: sherif;
  font-weight: 800;
  margin-right: 0;
}

.nav {
  margin-left: 0;
}

.ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.li {
  padding: 10px 20px;
  border-radius: 5px;
}

.li:hover {
  scale: 110%;
  background-color: var(--purpwhite);
  color: black;
}

.high {
  background-color: var(--blueViolet);
  color: #fff;
  filter: drop-shadow(0px 0px 5px rgba(102, 80, 237, 0.9))
          drop-shadow(1px 2px 4px rgba(0,0,0,1));
  cursor: pointer;
}

.raiseup {
  transform: translateY(-10px);
}

.high:hover {
  background-color: var(--blueViolet);
  color: #fff;
}

.btmbar {
  display: none;
}

@media screen and (max-width: 700px) {
  :root {
    --prim-col: rgb(0, 0, 0);
  }

  body {
    font-size: 1.1em;
  }

  .navbar {
    padding-left: 0;
    width: 100%;
    text-align: center;
    justify-content: space-around;
  }

  .webname {
    padding: 0;
    margin-left: 0;
    flex-grow: 1;
  }

  .nav {
    display: none;
  }

  .li {
    background-color: var(--purpwhite);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .li:hover {
    opacity: 0.6;
  }

  .high {
    background-color: var(--blueViolet);
  }

  .btbr_img {
    height: 20px;
  }

  .btmbar {
    background-color: rgba(28, 27, 34, 0.5);
    height: 3em;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    position: fixed;
    box-shadow: -1px -2px 5px rgba(102, 80, 237, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(1rem);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

/* Generic styling*/


.blue_button {
  background-color: var(--blueViolet);
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1ch 2ch;
  cursor: pointer;
}
.blue_button:disabled {
  filter: brightness(0.5);
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1ch 2ch;
  cursor: pointer;
}

.blue_button:disabled:hover {
  filter: brightness(0.5);
  box-shadow: none;
  scale: 100%;
}

.blue_button:hover {
  box-shadow: 0px 0px 20px hsla(248, 81%, 62%, 0.9);
  scale: 110%;
}

.card_container {
  border: 3px solid var(--purpwhite);
  box-shadow: 0 0 50px rgba(255, 228, 255, 0.5);
  background-image: radial-gradient(var(--ltblack) 50%, rgba(43, 39, 255, 0.2));
  box-sizing: border-box;
}
.card {
  background-color: var(--purpwhite);
  color: var(--ltblack);
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 1em;
}
