:root {
  --blue: #2c29ff;
  --purpwhite: #ffe5ff;
  /* --blueViolet: #8a2ce2; */
  --blueViolet: #6650ed;
  --ltblack: #1c1b22;
}

.content {
  padding-top: 10em;
  height: max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.card {
  width: fit-content;
  display: flex;
  gap: 5rem;
  border: 3px solid var(--purpwhite);
  padding: 100px;
  border-radius: 5rem;
  box-shadow: 0 0 50px rgba(255, 228, 255, 0.5);
  background-image: radial-gradient(var(--ltblack) 50%, rgba(43, 39, 255, 0.2));
}

h1 {
  font-size: 50px;
}

.yt {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 40px;
  background-color: var(--purpwhite);
  border: 3px solid var(--blueViolet);
  border-radius: 2rem;
  color: #000;
}

.yt:hover {
  background-color: var(--blueViolet);
  box-shadow: 0px 0px 20px rgba(255, 228, 255, 0.8);
  border-color: var(--purpwhite);
}

.ytlogo {
  height: 60px;
}

.iglogo {
  height: 60px;
}
