:root {
  --blue: #2c29ff;
  --purpwhite: #ffe5ff;
  /*--blueViolet: #8a2ce2;*/
  --blueViolet: #6650ed;
  --ltblack: #1c1b22;
}

.content {
  padding-top: 7em;
  height: max-content;
  width: max-content;
  display: grid;
  gap: 1.8rem;
}

.know {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--purpwhite);
}

.lang {
  border: 3px solid var(--blueViolet);
  border-radius: 1rem;
  padding: 20px;
  display: grid;
  cursor: context-menu;
  background-image: linear-gradient(
    to bottom,
    var(--ltblack) 80%,
    rgba(43, 39, 255, 0.2)
  );
}

.lang:hover {
  /* box-shadow: 0px 0px 20px rgba(137, 43, 226, 0.9); */
  box-shadow: 0px 0px 20px rgba(255, 228, 255, 0.9);
  scale: 104%;
  border-color: var(--purpwhite);
  background: transparent;
}

.edu {
  border-top: 1px solid var(--purpwhite);
  display: flex;
  gap: 10rem;
  line-height: 30px;
  padding: 50px;
}

.hub {
  display: grid;
  text-align: center;
  border-top: 1px solid var(--purpwhite);
  padding-top: 20px;
  width: 100%;
}

.game {
  font-size: 2em;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  background-color: var(--blueViolet);
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 20px hsla(271, 76%, 53%, 0.9);
  scale: 110%;
}


