:root {
    --bg-color-light: #22272e;
    --bg-color-dark: #1c2128;
    --font-color: #636e7b;
    --border-color: #555555;
    --files-button-hover: #232830;
    --files-button-open: #383f49;
    --inactive-tab-color: #292e35;
    --active-tab-color: #3a4149;
    --tab-bar-shadow-color: #272c33;

    --padding-code: 1em;
    --border-radius: 5px;
    --border-radius-sections: .5em;
    --files-margin-left: 1em;
    --explorer-width: 15vw;
}

* {
    color-scheme: dark;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.content {
    padding: .5em;
    display: flex;
    flex: 0 1 15;
    box-sizing: border-box;
    gap: .5em;
    background-color: var(--bg-color-light) ;
    * {
        flex-grow: 1;
    }
    > * {
        min-width: 0;
        min-height: 0;
    }
    height: 100dvh;
    width:  100dvw;
}

.explorer {
    max-width: var(--explorer-width);
    min-width: calc(var(--explorer-width) - 5vw);
    width:     var(--explorer-width);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-dark) ;
    padding: 1em;
    border-radius: var(--border-radius-sections);
}

.explorer-label {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tag {
        font-size: .7lh;
        flex-grow: 1;
    }
    .more {
        flex-grow: 0;
        width: fit-content;
        cursor: pointer;
    }
}

.file {
    font-family: roboto;
    border: none;
    background-color: var(--bg-color-dark) ;
    padding: .5em;
    padding-left: 4ch;
    text-align: left;
    border-radius: var(--border-radius);

    &:hover {
        background-color: var(--files-button-hover);
    }
}

.file[data-active = true] {
    background-color: var(--files-button-open);
}

.file:is(summary) {
    padding-block: .2em;
    padding-inline: .5em;
}

.file:is(.root) {
    width: 100%;
    transform: translate(-.5em);
    &::before {
        content: '›';
    }
}


.files {
    display: grid;
}

.hero-area {
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-sections);
    overflow: auto;
}

.editor {
    display: flex;
    pre, code, .code {
        font-family: JetBrains Mono;
    }
}

.tabs-container {
    position: sticky;
    top: 0;
    background-color: var(--bg-color-light);
    padding: .5em;
    height: max-content;
    box-shadow: 0px 2px 5px var(--tab-bar-shadow-color);
    display: flex;
    gap: .5em;
}

.tab {
    height: 100%;
    padding: .5em;
    padding-inline: 1em;
    width: fit-content;
    max-width: fit-content;
    background-color: var(--inactive-tab-color);
    border: none;
    border-radius: var(--border-radius);
    text-overflow: ellipsis;
    cursor: pointer;
}

.tab[data-active = true] {
    background-color: var(--active-tab-color);
}

.line-numbers {
    max-width: 3ch;
    display: grid;
    height: 100dvh;
    padding-top: var(--padding-code);
    padding-left: var(--padding-code);
    font-family: monospace;
    color: var(--font-color);
    text-align: right;
}

.code {
    margin: 0;
    padding: 0;
}

pre {
    margin: 0;
    padding: 0;
    display: flex;
}

code {
    padding-top: var(--padding-code);
}

details {
    font-family: roboto;
}

summary {
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    /*content: "›";*/
    content: "🖿";
    display: inline-block;
    margin-right: .4rem;
    transition: transform .15s;
}

details[open] > summary::before {
    /*transform: rotate(90deg);*/
    content: '🗁';
}

details[open] > .file:is(.root)::before {
    transform: rotate(90deg);
}
